@model IEnumerable<WorkingWithVisualStudio.Models.Product>
@{ ViewBag.Title = "Working with Visual Studio"; }

<h3 class="text-center">Products</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr><td>Name</td><td>Price</td></tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="AddProduct">Add New Product</a>
</div>